body {
    --header-height: 50px;

    margin: var(--header-height) 0 0 0;
    font-family: 'Muli', sans-serif;
}

.nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 70%;
    background: var(--background_content);
    transform: translateX(-290%);
    /*transition: all 200ms cubic-bezier(0.8, 0, 0.33, 1);*/
    overflow-y: scroll;
}

.nav--open .nav__links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
/*    background: rgba(0, 0, 0, 0.5);*/
    backdrop-filter: blur(2px);
    visibility: hidden;
    /*transition: all 200ms cubic-bezier(0.8, 0, 0.33, 1);*/
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}